{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block breadcrumbs %}
<div>
   <ul class="nav nav-wizard">
       <li>Current Round: {{currentRound}}/{{ remaining|add:currentRound}}</li>
       <li><a>Your Guess</a></li>
       <li class='active'><a>Round Outcome</a></li>
   </ul>
</div>
{% endblock %}

{% block container %}
<div class="row">
<div class="col-md-1">
  {% include 'components/timer.html' %}
</div>
<div class="col-md-6">
  <img src="/static/plots/{{ round.plot }}" class="img-responsive faded" />
  <div class="form">
      <div id="answerSlider">
          <div class="ui-slider-handle"></div>
      </div>
    <div class="row">
      <div class="col-md-5"><b>Your guess:</b></div>
      {% if guess >= 0 %}
        <div class="col-md-2">{{guess}}</div>
      {% else %}
        <div class="col-md-2">N/A</div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-md-5"><b>Actual correlation:</b></div>
        <div class="col-md-2"><span id="roundAnswer">{{ round.answer }}</span></div>
    </div>
    <div class="row">
      <div class="col-md-5"><b>Score increment:</b></div>
      <div class="col-md-2"><span id="roundBonus">+{{ bonus }}</span></div>
    </div>
    <form action="{% url 'control:play' %}">
      <input type="submit" value="Next" id="submit" class="btn btn-success nextButton">
    </form>
  </div>
</div>

</div>
{% endblock %}

{% block extra_javascript %}
  <script src="{% static 'js/game.js' %}"></script>
    <script>
         $("#answerSlider").html("");
         var data = {guess: +{{guess}},
                     correct_answer: {{ round.answer }}
         };
      if(data.guess != -1) {
        $("#yourGuess").html({{ guess }});
        $("#answerSlider").slider({
          range: true,
          min: 0,
          max: 1,
          step: 0.01,
          values: [data.correct_answer, data.guess].sort(),
          disabled: true
        });
        if(data.guess > data.correct_answer) {
          $($("#answerSlider > .ui-slider-handle")[0]).addClass("true-answer");
        }
        else {
          $($("#answerSlider > .ui-slider-handle")[1]).addClass("true-answer");
        }
      }
      else {
        console.log("reset slider");
        $("#answerSlider").slider({
          range: true,
          min: 0,
          max: 1,
          step: 0.01,
          value: data.correct_answer,
          disabled: true
        });
        $($("#answerSlider > .ui-slider-handle")[0]).addClass("true-answer");
      }
    </script>
{% endblock %}