{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block breadcrumbs %}
<div class="row">
  <span class="breadcrumbs"> 
    <span class="guess">Guess</span>
     >
    <span class="results active">Results</span>
  </span>
</div>
{% endblock %}

{% block center %}
<img src="/static/plots/{{ round.plot }}" class="img-responsive" />
<div class="form">
  {% if guess > 0 %}
  <div>
    Your guess: {{ guess }}
  </div>
  {% else %}
  <div>
    Your guess: N/A
  </div>
  {% endif %}

  <div>
    Actual correlation: {{ round.answer }}
  </div>
  <form action="{% url 'control:play' %}">
    <input type="submit" value="Next" id="submit" class="btn btn-primary nextButton">
  </form>
</div>
{% endblock %}

{% block leftCol %}
{% include 'components/timer.html' %}
{% endblock %}
