{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block breadcrumbs %}
<div>
   <ul class="nav nav-wizard">
       <li>Current Round: {{currentRound}}</li>
       <li><a>Your Guess</a></li>
       <li class='active'><a>Round Outcome</a></li>
   </ul>
</div>
{% endblock %}

{% block container %}

<div class="col-md-6">
  <img src="/static/plots/{{ round.plot }}" class="img-responsive faded" />
  <div class="form">
    <div class="row">
      <div class="col-md-5"><b>Your guess:</b></div>
      {% if guess > 0 %}
        <div class="col-md-2">{{guess}}</div>
      {% else %}
        <div class="col-md-2">N/A</div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-md-5"><b>Actual correlation:</b></div>
      <div class="col-md-2">{{ round.answer }}</div>
    </div>
   
    <form action="{% url 'control:play' %}">
      <input type="submit" value="Next" id="submit" class="btn btn-success nextButton">
    </form>
  </div>
</div>
<div class="col-md-3">
  {% include 'components/timer.html' %}
</div>
{% endblock %}

{% block extra_javascript %}
  <script src="{% static 'js/game.js' %}"></script>
{% endblock %}