{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block container %}
<h2>Comprehension Check</h2>
<form class="form" action="." method="post">
{% csrf_token %}
{#  <div class="form-group">#}
{#    <label>Your goal in the game is to</label>#}
{#    <div>#}
{#      <input class="radio" name=id_correlation type="radio"> Estimate the correlation of two variables#}
{#    </div>#}
{#    <div>#}
{#      <input class="radio" name=id_correlation type="radio"> Calculate the correlation of two variables#}
{#    </div>#}
{#  </div>#}
{#  <div class="form-group">#}
{#    In general, correlation can be between <input name="id_lowvalue"> and <input name="id_hightvalue">#}
{#  </div>#}
{#  <div class="form-group">#}
{#    <label>In this game, all correlations will be </label>#}
{#    <div>#}
{#      <input class="radio" name=id_negpos type="radio"> Negative or positive#}
{#    </div>#}
{#    <div>#}
{#      <input class="radio" name=id_negpos type="radio"> Only positive#}
{#    </div>#}
{#  </div>#}
{#  <div class="form-group">#}
{#    <label>Have you participated in this study before?</label>#}
{#    <div>#}
{#      <input class="radio" type="radio"> Yes#}
{#    </div>#}
{#    <div>#}
{#      <input class="radio" type="radio"> No#}
{#    </div>#}
{#  </div>#}
    {{ form.as_p }}
<button type="submit" value="Submit" class="btn btn-primary nextButton">Next</button>
</form>
    <a class="btn btn-warning" href="{% url 'control:instruction' %}">Previous</a>
{% endblock %}
