{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block center %}
<form action='{% url "control:submit" %}' method="post">
  {% csrf_token %}
  <div>
    <img src="/static/plots/{{ round.plot }}" class="img-responsive"/>
  </div>
  <div class="row">
    <label>Your guess:&nbsp;</label><output for="slider" id="correlation">0.5</output>
  </div>

  <div class='row'>
    <span>0</span>
    <input id="slider" name="guess" type="range" min="0" max="1" step="0.001" value="0.5"
           oninput="updateCorrelation(this.value);">
    <span>1</span>
  </div>
  <div class="row">
    <input class='btn btn-primary col-md-3' type="submit" value="Submit">
  </div>
</form>

{% endblock %}

{% block rightCol %}
<div>
  <div id="timer" class="info">
    Timer
    <div class="box">
      <div id="counter"></div>
    </div>
  </div>
  <div class="info">
    Score 
    <div class="box">
      {{ score }}
    </div>
  </div>
  <div class="info">Plots remaining: {{ remaining }} </div>
</div>
{% endblock %}


{% block extra_javascript %}
<script>
function updateCorrelation(value){
  document.querySelector('#correlation').value = value;
}
</script>

{% endblock %}
