.table {
  width: 80%;
  padding: 10px;
}

.table td {
  border-color: #000;
}

.avatar {
  margin-left: 5px;
  margin-right: 5px;
  width: 30px;
}
.avatar-large{
  margin: 0 10px 20px 10px;
  width: 55px;
}

.plusIcon {
  width: 25px;
  height: 25px;
}

.plusIcon:hover {
  cursor: pointer;
}

.unfollow {
  margin-top: 10px;
  width: 100%;
}

.user {
  margin-top: 10px;
}

#unfollow_list td {
  height: 120px;
}

