{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block container %}
<h2>Experiment Overview</h2>

<p>
  After completing the instructions and comprehension check, you will enter a waiting room. You will remain here until the required number of players enter the waiting room. Then, all the players will enter the game. The game consists of 20 rounds. Each round is composed of 3 stages:
</p>
<p>
  1. You will see a scatter plot and be asked to <b>estimate the correlation of the X and Y variables</b>. While correlations can be positive or negative depending on the slope of the correlation, <b>no negative correlations will be used in this game</b>. All players will see the same scatter plot.
</p>
<p>
  Use the slider below the graph to guess the correlation of the data. Your guess can range from 0 to 1, with 0 meaning no correlation, and 1 meaning perfect correlation (a straight line). No calculations are necessary, just make your best estimation. You have 30 seconds to enter your guess.
</p>
<img src="/static/images/plots.gif" class="img-responsive"/>
<p>
  2. Once you have submitted your initial estimate, you will be able to see the guesses of the players you follow in the game. You will have another 30 second period to alter your estimate. You will be able to see as other players change their estimates. After 30 seconds elapse, your estimate will be locked in, and you will proceed to the next round.
</p>

<p>
  3. After you lock in your second guess, you will proceed to a “Round Overview” screen. Here you can see how well all the other players in the game performed in the last round. You may choose to ‘follow’ up to 3 other players, and you will have the option to follow/unfollow players after each round.
</p>

<p>
  These three stages will repeat every round. Once you have finished 20 rounds, the game is complete and you will be taken to an exit survey.
</p>

<h2>Comprehension Check</h2>
<form class="form">
  <div class="form-group">
    <label>Your goal in the game is to</label>
    <div>
      <input class="radio" type="radio"> Estimate the correlation of two variables
    </div>
    <div>
      <input class="radio" type="radio"> Calculate the correlation of two variables
    </div>
  </div>
  <div class="form-group">
    In general, correlation can be between <input> and <input>
  </div>
  <div class="form-group">
    <label>In this game, all correlations will be </label>
    <div>
      <input class="radio" type="radio"> Negative or positive
    </div>
    <div>
      <input class="radio" type="radio"> Only positive
    </div>
  </div>
  <div class="form-group">
    <label>All players will see </label>
    <div>
      <input class="radio" type="radio"> The same scatter plot
    </div>
    <div>
      <input class="radio" type="radio"> Different scatter plots
    </div>
  </div>
  <div class="form-group">
    <label>You will get a chance to change your estimate after your initial guess.</label>
    <div>
      <input class="radio" type="radio"> True
    </div>
    <div>
      <input class="radio" type="radio"> False
    </div>
  </div>
  <div class="form-group">
    <label>Have you participated in this study before?</label>
    <div>
      <input class="radio" type="radio"> Yes
    </div>
    <div>
      <input class="radio" type="radio"> No
    </div>
  </div>
</form> 

{% endblock %}