{% extends 'base.html' %}
{% load staticfiles %}

{% block center %}
    <div class="row">
        <h1 class="text-center">Lobby for {{ game }}</h1>
    </div>
    <div class="row">
        <div class="col-md-6" id="waiting">Waiting for other players ...</div>
    </div>
{% endblock %}

{% block extra_javascript %}

    <script src="{% static "js/jquery-1.12.2.min.js" %}"></script>
    <script src="{% static "js/reconnecting-websocket.min.js" %}" type="text/javascript"></script>

    <script>
        $(function () {
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            var ws_path = ws_scheme + '://' + window.location.host + "/multiplayer/lobby/";

            console.log("Connecting to " + ws_path);
            var socket = new ReconnectingWebSocket(ws_path);

            // Helpful debugging
            socket.onopen = function () {
                console.log("Connected to chat socket");
            };

            socket.onclose = function () {
                console.log("Disconnected from chat socket");
            };

            socket.onmessage = function (msg) {

                var data = JSON.parse(msg.data);

                console.log("JUST got a message " + msg);

                if(data.action == "info"){
                    document.querySelector('#waiting').innerHTML = data.text;
                }
                else if(data.action == "redirect"){
                    var proto = ws_scheme == "wss" ? "https://" : "http://";
                    window.location.href = proto + window.location.host + data.url;
                }
                else{
                    console.log(data)
                }
            };
        });
    </script>
{% endblock %}