{% extends 'base.html' %}
{% load staticfiles %}

{% block breadcrumbs %}
<div id="breadcrumbs" hidden="true">
   <ul class="nav nav-wizard">
     <li>Current Round: {{currentRound}}</li>
     <li id="yourGuess"><a>Initial Guess</a></li>
     <li id="socialGuess"><a>Interactive Guess</a></li>
     <li id="outcome"><a>Round Outcome</a></li>
   </ul>
</div>
{% endblock %}

{% block container %}

<div id="lobby">
  <div class="row">
      <div class="col-md-12" id="waiting">Waiting for other players ...</div>
  </div>
  <p>Please wait a few moments while we try to find the needed participants.</p>
  <p>If we can't find enough participants within {{lobbyTimeout}} minutes, we will end the HIT and pay you for your time.</p>
  <p>Please make sure your sound is on as a bell will ring to indicate the start of a new game.</p>
</div>
<div id="game" hidden="true">

<div class="form">

  <div class="col-md-3">
    <div class="follow">
      <div><b>You can follow:</b></div>

      <div class="user">
      <img src={% static 'images/plus.ico' %} class="plusIcon" />
      <img src={% static 'images/avatars/bird.png' %} class="avatar" /> 100
      </div>
      <div class="user">
      <img src={% static 'images/plus.ico' %} class="plusIcon" />
      <img src={% static 'images/avatars/cat.png' %} class="avatar" /> 100
      </div>
      <div class="user">
      <img src={% static 'images/plus.ico' %} class="plusIcon" />
      <img src={% static 'images/avatars/cow.png' %} class="avatar" /> 100
      </div>

      <div class="user">
      <img src={% static 'images/plus.ico' %} class="plusIcon" />
      <img src={% static 'images/avatars/lion.png' %} class="avatar" /> 100
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="follow">
      <div><b>You are following:</b></div>

      <table class="table table-bordered">
        <div>{{ following }}</div>
        <tbody>
          <tr>
            <td>
              <img src={% static 'images/avatars/bee.png' %} class="avatar" /> 100<button type="button" class="btn btn-primary unfollow">Unfollow</button></td>
          </tr>
          <tr>
            <td>
              <img src={% static 'images/avatars/elephant.png' %} class="avatar" /> 100<button type="button" class="btn btn-primary unfollow">Unfollow</button></td>
          </tr>
          <tr>
            <td><img src={% static 'images/avatars/pig.png' %} class="avatar" /> 100<button type="button" class="btn btn-primary unfollow">Unfollow</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="interactive" hidden="true">
      <div><b>You are following:</b></div>

      <table class="table table-bordered">
        <div>{{ following }}</div>
        <tbody>
          <tr>
            <td>
              <img src={% static 'images/avatars/bee.png' %} class="avatar" /> 100
          </tr>
          <tr>
            <td>
              <img src={% static 'images/avatars/elephant.png' %} class="avatar" /> 100
          </tr>
          <tr>
            <td><img src={% static 'images/avatars/pig.png' %} class="avatar" /> 100
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-6">
      <h3>Guess the correlation</h3>
      <div id="round">
        <img src={% static 'images/plots/96.png' %} />
      </div>
      <img class="img-responsive" />
      <div class="form">
      <div>
        Actual correlation: {{ round.answer }}
      </div>
      </div>
      <form action="{% url 'interactive:play' %}">
          <input type="submit" value="Next" id="submit" class="btn btn-primary nextButton">
      </form>
  </div>
</div>


{% endblock %}


{% block extra_javascript %}

<script src="{% static "js/jquery-1.12.2.min.js" %}"></script>
<script src="{% static "js/reconnecting-websocket.min.js" %}" type="text/javascript"></script>

<script>
  $(function () {
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var ws_path = ws_scheme + '://' + window.location.host + "/multiplayer/lobby/";

    console.log("Connecting to " + ws_path);
    socket = new ReconnectingWebSocket(ws_path);

    // Helpful debugging
    socket.onopen = function () {
      console.log("Connected to chat socket");
    };

    socket.onclose = function () {
      console.log("Disconnected from chat socket");
    };

    socket.onmessage = function (msg) {
      var data = JSON.parse(msg.data);

      console.log("JUST got a message " + msg);

      if(data.action == "info"){
        document.querySelector('#waiting').innerHTML = data.text;
      }
      else if(data.action == "redirect"){
        var proto = ws_scheme == "wss" ? "https://" : "http://";
        window.location.href = proto + window.location.host + data.url;
      }
      else if(data.action == 'initial'){
        document.querySelector('#lobby').style.display = 'none';
        document.querySelector('#game').style.display = 'block';
        document.querySelector('#breadcrumbs').style.display = 'block';
        document.querySelector('#yourGuess').className = 'active';

        // document.querySelector('#yourGuess').className = '';
        // document.querySelector('#socialGuess').className = 'active';
        // document.querySelector('.interactive').style.display = 'block';
      }
      // // if interactive guess {
      //   document.querySelector('#yourGuess').className = '';
      //   document.querySelector('#socialGuess').className = 'active';
      //   document.querySelector('.interactive').style.display = 'block';
      // }
      // // if round outcome {
      //   document.querySelector('#socialGuess').className = '';
      //   document.querySelector('#outcome').className = 'active';
      //   document.querySelector('.interactive').style.display = 'none';
      //   document.querySelector('.follow').style.display = 'block';
      // }
      else{
          console.log(data)
      }
    };

  });
</script>
{% endblock %}