{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block breadcrumbs %}
<div>
   <ul class="nav nav-wizard">
     <li>Current Round: {{currentRoundq}}</li>
     <li><a>Your Guess</a></li>
     <li><a>Social Guess</a></li>
     <li class='active'><a>Round Outcome</a></li>
   </ul>
</div>
{% endblock %}

{% block container %}
<div class="form">
  {% if guess > 0 %}
  <div>
    Your guess: {{ guess }}
  </div>
  {% endif %}
<div class="col-md-3">
  <div><b>You can follow:</b></div>
  <div class="user">
    <img src={% static 'images/plus.ico' %} class="plusIcon" />
    <img src={% static 'images/avatars/bird.png' %} class="avatar" /> 100 
  </div>
  <div class="user">
    <img src={% static 'images/plus.ico' %} class="plusIcon" />
    <img src={% static 'images/avatars/cat.png' %} class="avatar" /> 100
  </div>
  <div class="user">
    <img src={% static 'images/plus.ico' %} class="plusIcon" />
    <img src={% static 'images/avatars/cow.png' %} class="avatar" /> 100
  </div>

  <div class="user">
    <img src={% static 'images/plus.ico' %} class="plusIcon" />
    <img src={% static 'images/avatars/lion.png' %} class="avatar" /> 100 
  </div>

</div>

<div class="col-md-3">
  <div><b>You are following:</b></div>
  
  <table class="table table-bordered">
  <div>{{ following }}</div>
    <tbody>
      <tr>
        <td>
          <img src={% static 'images/avatars/bee.png' %} class="avatar" /> 100<button type="button" class="btn btn-primary unfollow">Unfollow</button></td>
      </tr>
      <tr>
        <td>
          <img src={% static 'images/avatars/elephant.png' %} class="avatar" /> 100<button type="button" class="btn btn-primary unfollow">Unfollow</button></td>
      </tr>
      <tr>
        <td><img src={% static 'images/avatars/pig.png' %} class="avatar" /> 100<button type="button" class="btn btn-primary unfollow">Unfollow</button></td>
      </tr>
    </tbody>
  </table>
  {% include 'components/timer.html' %}
</div>

<div class="col-md-6">
  <h3>Guess the correlation</h3>
  {{round}}
  <img src="/static/plots/{{ round.plot }}" class="img-responsive" />
  <div class="form">
    <div>
      Actual correlation: {{ round.answer }}
    </div>
  </div>
  <form action="{% url 'interactive:play' %}">
    <input type="submit" value="Next" id="submit" class="btn btn-primary nextButton">
  </form>
</div>
{% endblock %}