{% load staticfiles i18n %}

{% block css %}
<link href="{% static 'css/slider.css' %}" rel="stylesheet">
{% endblock %}

<div class="row">
  <label><b>Your guess:</b>&nbsp;</label><span id="correlation"></span>
</div>
<div class="row">
  <label>Pick a value on the line.</label>
</div>
<div class='row'>
  <div id="slider"></div>
  <span id="min">0</span>
  <span class="quarter">0.25</span>
  <span class="quarter">0.5</span>
  <span class="quarter">0.75</span>
  <span id="max">1</span>
  <input name="guess" id="guess" value="-1" hidden />
</div>
