{% load staticfiles i18n %}

{% block css %}
<link href="{% static 'css/timer.css' %}" rel="stylesheet">
{% endblock %}

<div>
    <div>
        <h6 style="white-space: nowrap;"><b>You are:</b></h6>
    <img src='/static/{{ user.get_avatar }}' class="avatar-large user-avatar-large" />
    </div>
  <div id="timer" class="info">
    <span id="counter"></span>
  </div>
  <div class="info">
    Total score: <br><span class="user_score">{{ score }}</span> <img id="coin" src="/static/images/coin.png" />
  </div>
  <div class="info">Rounds left: <br>{{ remaining }} <span id="remaining"></span></div>
</div>
